exportPattern("^[[:alpha:]]+")
export(funm6aviewer)
export(fdmdeepm6A)
export(characterdmsites)
export(coverageplot)
export(dmsiteplot)
export(enrichmentplot)
export(getdeinfo)
export(getdescore)
export(makegrreadsfrombam)
export(msbnetplot)
export(siggenescoreplot)
export(siggenepathplot)
export(summarydmdeepm6A)
import(trackViewer)
import(DESeq2)
import(RobustRankAggreg)
import(parallel)
import(ggrepel)
import(igraph)
import(STRINGdb)
import(Rsamtools)
import(GenomicAlignments)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(org.Hs.eg.db)
import(GenomicFeatures)
import(ggplot2)
import(grid)
import(scales)
importFrom("Guitar", "GuitarPlot")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "legend", "plot")
importFrom("methods", "new")
importFrom("stats", "median", "p.adjust", "quantile")
importFrom("utils", "read.table", "write.table")
importFrom("GenomicRanges", "countOverlaps", "GRanges", "resize", "strand<-", "findOverlaps", "seqnames", "strand", "start", "granges")
importFrom("IRanges", "width", "IRanges")
importFrom("AnnotationDbi", "mappedkeys")
importFrom("S4Vectors", "mcols", "mcols<-", "DataFrame", "queryHits", "subjectHits")
