exportPattern("^[[:alpha:]]+")
export(funm6aviewer)
export(fdmdeepm6A)
export(characterdmsites)
export(coverageplot)
export(dmsiteplot)
export(enrichmentplot)
export(getdeinfo)
export(getdescore)
export(makegrreadsfrombam)
export(msbnetplot)
export(siggenescoreplot)
export(siggenepathplot)
export(summarydmdeepm6A)
import(Guitar)
import(trackViewer)
import(DESeq2)
import(RobustRankAggreg)
import(parallel)
import(ggrepel)
import(igraph)
import(STRINGdb)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(org.Hs.eg.db)
import(GenomicFeatures)
import(ggplot2)
import(grid)
import(scales)
